#coverpage {
    background:url(http://i.imgur.com/doBFhh6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#cover.box{
    width: 10%;
    height:10%;
}

#credit{
    position: bottom;
}
