body{
    background:url(http://i.imgur.com/doBFhh6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: scroll;
}

div.box{
    width:  200px;
    height: 100px;
    background-color: #bbbbaa
}

p#cover a{
    border: thick solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 10%;
    height: 10%;
    font-size: 50px ;
    text-decoration: none;
    color: black;
    position: relative;
    top: 100px;
    left:500px;
}

#cover a:hover{
    color:white;
}

#credit{
    text-align: left;
    position: relative;
    top: 700px;
}
