body {
    margin: 0px;
    padding: 0px;
}

.introduction {
    height: 150vh;
    width: 100%;
    background: url(http://i.imgur.com/TC7FGmk.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.test {
    height: 500px;
    width: 100%;
    background-color: blue;
}
