h1{
	font-family: comic, arial, times;
	color: black;
}

table{
	background-color: Gainsboro;
	color: black;
	word-spacing: lem;
}

body{
	background-color: LavenderBlush;
	color: black;
}

tr{
	display: block;
	padding: 15px 40px;
	text-align: center;
}
p#nav:first-letter{
	
	font-size: 200%;
}
p#main:first-letter{
	font-size: 200%;
}
#navigation{
	margin: 0 auto;
	width: 968px;
	text-align: left;
}
