h1{
	font-family: comic, arial, times;
	color: black;
}

table{
	background-color: Gainsboro;
	color: black;
}

body{
	background-color: LavenderBlush;
	color: black;
}

tr{
	display: block;
	padding: 40px 25px;
	text-align: center;
}
